<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	This is the help page for me
	<a href="http://mlx.herokuapp.com/">RoR App</a> sample application.
	To get help on this sample app, see the <a href="http://railstutorial.org/book">RoR Tutorial book</a>. 
</p>
