<li>
  <%= gravatar_for user, size: 32 %>
  <%= link_to user.name, user %>
  <% if current_user.admin?&&!current_user?(user) %>
    |<%= link_to 'delete', user, method: :delete, confirm: "Are you sure?"%>
  <% end %>
</li>