<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| -%>
      <%= render 'shared/error_messages' %>
      <%= f.label :name -%>
      <%= f.text_field :name -%>
      <%= f.label :email -%>
      <%= f.text_field :email -%>
      <%= f.label :password -%>
      <%= f.password_field :password -%>
      <%= f.label :password_confirmation, "Confirmation" -%>
      <%= f.password_field :password_confirmation -%>
      <%= f.submit "Update", class: "btn btn-large btn-primary" -%>
    <% end -%>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
