<% provide(:title, @user.name) %>
<div class="row" >
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 30 %>
				<%= @user.name %>
      </h1>			
		</section>
	</aside>
</div>
