<% if @user.errors.any? %>
	<div id="errors_explanation" >
		<div class="alert alert-error">
			The form contains <%= pluralize(@user.errors.count, "errors") %>.
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>