<footer class="footer">
	<small>
		<a href="http://mlx.herokuapp.com/">MicroBlog</a>
		by mlx
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://blog.jobbole.com/">Bole online</a></li>
		</ul>
	</nav>
</footer>